<html>
    <head>
        <title>Primeiro Projeto Django</title>
        <style>
            body{
                background-color: black;
            }
           
        a{
            color:white ;
        }    
        
            div{
                color: rgb(45, 46, 46);
            }
        </style>
    </head>
    <body>
        <div class="pos">
            <h1><a href="/">Blog Django Girls</a></h1>
        </div>

        <div class="pos">
            <p>publicado: 01.09.2023, 15:59</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum, velit beatae, temporibus dicta in omnis nobis pariatur iure nostrum perferendis cupiditate molestiae. Voluptas doloremque accusantium quam dolore nisi atque consectetur! Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, id sint adipisci mollitia sequi eaque officia iure dolorum corrupti unde suscipit omnis dignissimos officiis deleniti, voluptatum labore! Nam, aliquid modi.</p>
        </div>

        <div class="pos">
            <p>publicado: 01.09.2023, 16:00</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>